.box {
    min-height: 500px;
    min-width: 650px;
    margin: 20px;
    font-weight: 800;
    padding: 20px;
    background-color: rgb(247, 247, 247)
  }

.smallbox {
  min-height: 460px;
  min-width: 300px;
  margin: 20px;
  font-weight: 800;
  padding: 20px;
  background-color: rgb(247, 247, 247)
}


.box-title {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid rgba(149, 235, 223, 0.856);
  color: rgba(27, 136, 121, 0.993);
}



  .gray {
    background: darkgray;
  }
  .skyblue {
    background: deepskyblue;
  }
  
  .purple {
    background: rebeccapurple;
  }
  
  .red {
    background: indianred;
  }


  h1 {
    color: rgba(149, 235, 223, 0.856);
  }
  
  .purple {
    color: purple;
  }
  
  #red {
    color: red;
  }
  
  .big-font {
    font-size: 40px;
    color: rgba(149, 235, 223, 0.856)
  }
  
  #bold-font {
    font-weight: bold;
  }
  
  .back-black {
    background-color: #000;
  }
  
  .small-font {
    font-size: 10px;
  }
  .square {
    position: relative;
    width: 50%;
  }
  
  .square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  
  .content {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  